.title {
  text-align: center;
  color: white;
}

.description {
  text-align: center;
  font-weight: bold;
  color: white;
  max-height: 6em;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

@media (max-width: 1024px) {
  .description {
    line-clamp: 5;
    font-size: 1.1rem;
  }
}
