.title {
  text-align: center;
  color: white;
}

.description {
  text-align: center;
  font-weight: bold;
  color: white;
  max-height: 6em; /* Mostrar solo 3 líneas de texto */
  overflow: hidden; /* Ocultar texto adicional */
  text-overflow: ellipsis; /* Mostrar puntos suspensivos al final si se recorta el texto */
  word-wrap: break-word;
}

@media (max-width: 1024px) {
  .description {
    line-clamp: 5;
    font-size: 1.1rem;
  }
}
